<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata, the below is standard. Browsers use this to configure settings -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- What text people see on the tab -->
    <title> Get started </title>

    <!-- CSS Goes Here -->
    <!-- Select ID:
        #[id]: {
            ... CSS
        }

        Select Class:
        .[class_name]: {
            ... CSS
        }
    -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">



</head>
<body>

    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div -->

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <form action="/">
                <a>
                    <img src="Verdanda2.png" width="112" height="28">
                </a>
            </form>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <form action="/dashboard">
                    <button type="submit" class="button is-white">
                        Dashboard
                    </button>
                </form>

                <form action="/growth">
                    <button type="submit" class="button is-white">
                        Growth
                    </button>
                </form>
                <form action="/adjust">
                    <button type="submit" class="button is-white">
                        Adjust
                    </button>
                </form>

                <div class="navbar-item has-dropdown is-hoverable">
                    <button class="navbar-link">
                        More
                    </button>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Resources
                        </a>
                        <a class="navbar-item">
                            Activity
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <form action="/">
                            <button type="submit" class="button is-primary">
                                <strong>Sign up</strong>
                            </button>
                        </form>
                        <form action="/login">
                            <button type="submit" class="button is-light">
                                Log in
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Dashboard
            </p>
            <p class="subtitle">
                Hello, <span id="f-name-span"></span> <span id="l-name-span"></span>! 
            </p>
        </div>
    </section>

    <p class="mt-4">
    </p>

    <div class="container">
        <div class="box">
            <p class="title">
                Today's goal
                <hr />
            </p>
            <p class="subtitle">   <span id="goal-span"></span> </p>
            <p class="subtitle"> You are <span id="goal-score-span"></span>% closer to completing your financial goal! </p>
        </div>

        <progress class="progress is-primary" value="25" max="100"> <span id="goal-score-span"></span> </progress>


        <p class="title">
            Balances
        </p>


        <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th><abbr title="The money you have allocated towards emergencies.">Emergency Fund</abbr></th>
                    <th><abbr title="The total dollar amount in retirement accounts.">Retirement</abbr></th>
                    <th><abbr title="The total dollar amount in your traditional IRA.">Traditional IRA</abbr></th>
                    <th><abbr title="The total dollar amount in your Roth IRA.">Roth IRA</abbr></th>
                    <th><abbr title="The total dollar amount in your stock portfolio.">Stock Portfolio</abbr></th>
                    <th><abbr title="The total dollar amount in your savings account.">Savings</abbr></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <span id="emer-fund-span"></span> </td>
                    <td> <span id="retirement-span"></span> </td>
                    <td> <span id="trad-ira-span"></span> </td>
                    <td> <span id="roth-ira-span"></span> </td>
                    <td> <span id="stock-prof-span"></span> </td>
                    <td> <span id="savings-span"></span> </td>
                </tr>
            </tbody>
        </table>

    </div>
    <p class="mb-4">
    </p>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                © 2022 <strong>Verdanda</strong> by <a href="https://devpost.com">Our Team :)</a>.
            </p>
        </div>
    </footer>

    <!-- JavaScript Goes Here -->
    <script>

        // JavaScript Object
        // Key : Value

        var user = {
        "user-id": "USER ID",
        "f-name": "Kristen",
        // Specify where the username will be imported from
        "l-name": "Hallas",
        "goal": "The assets in your stock portfolio are growing! If you make a quick sale, you can shift the profits into your emergency fund or savings.",
        "emer_fund": "1234.56",
        "retirement": "3456.78",
        "trad_ira": "2156.04",
        "roth_ira": "1265.40",
        "stock_prof": "+54.64",
        "savings": "500.01",
        "goal_score": "25",
        "overal_score": "35",
        "recent1": "Stock portfolio changed from +24.56 to +54.64",
        "recent2": "Employer contributed to Traditional IRA",
        "recent3": "Employer contributed to Roth IRA",
        "recent4": "Savings changed from $25.00 to $500.01",
        "recent5": "Emergency fund changed from $234.56 to $1234.56"
        //Json import here ^^ for the transaction portion
        }

        // https://www.w3schools.com/js/js_htmldom_document.asp
        var fname_span = document.getElementById("f-name-span")
        var lname_span = document.getElementById("l-name-span")
        var goal_span = document.getElementById("goal-span")
        var emer_fund_span = document.getElementById("emer-fund-span")
        var retirement_span = document.getElementById("retirement-span")
        var trad_ira_span = document.getElementById("trad-ira-span")
        var roth_ira_span = document.getElementById("roth-ira-span")
        var stock_prof_span = document.getElementById("stock-prof-span")
        var savings_span = document.getElementById("savings-span")
        var goal_score_span = document.getElementById("goal-score-span")
        var recent1_span = document.getElementById("recent1-span")
        var recent2_span = document.getElementById("recent2-span")
        var recent3_span = document.getElementById("recent3-span")
        var recent4_span = document.getElementById("recent4-span")
        var recent5_span = document.getElementById("recent5-span")

        fname_span.textContent = user['f-name']
        lname_span.textContent = user['l-name']
        goal_span.textContent = user['goal']
        emer_fund_span.textContent = user['emer_fund']
        retirement_span.textContent = user['retirement']
        trad_ira_span.textContent = user['trad_ira']
        roth_ira_span.textContent = user['roth_ira']
        stock_prof_span.textContent = user['stock_prof']
        savings_span.textContent = user['savings']
        goal_score_span.textContent = user['goal_score']

    </script>
</body>
</html>
